 /* mail list */

 .mail-list {
   overflow: scroll;
   overflow-x:hidden;
   scrollbar-color: lightgrey white;
   height: 100vh;
   background-color: white;
   text-overflow: ellipsis;
 }

 .mail-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 .mail-list div {
    transition: background 0.2s;
 }

 .mail-list div:hover {
    cursor: pointer;
 }

 

 
