.mail-filter {
   
     max-width: 720px;
     border-radius: 24px; 
}


.mail-filter  .input-icon{
    display: flex;

}
.mail-filter  .input-field {
    flex-grow: 1;
    height: 48px;
    margin-bottom: 10px;
    border-radius: 24px;
    padding-left:40px;
    border: none;
    background-color:#e9eef6 ;
    font-size: 18px;
    
}

.input-icon .fa-solid {
    position: absolute;
    padding: 17px;
}

 .mail-filter input:focus{
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
}

.sort-container {
    
    border-bottom: 1px solid #ddd;
}

.mail-filter-container {
    background-color: white;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

.mail-filter-container select {
    padding: 4px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

