
 .mail-index {
    display: flex;
    background-color: #f8fafd;
    margin-top: 70px;
 }

 


.mail-content {
   flex-grow: 1; 
   display: flex;
   flex-direction: column;
   padding: 10px;
   min-width: 0;
   flex-shrink: 1;
}

.mail-index .gmail-logo {
   width: 110px;
   height: 40px;
  }

  .mail-sidebar-logo {
   display: flex;
   padding: 10px;
  }
  
  .mail-sidebar-logo div {
   display: inline-block;
   margin: 0 4px;
   padding: 12px;
   overflow: hidden;
   vertical-align: middle;
   cursor: pointer;
   height: 24px;
   width: 24px;
   text-align: center;
   color: #5f6368;
  }

  .mail-sidebar {
   width: 256px; 
   display: flex;
   flex-direction: column;
   transition: width 0.2s ease-in-out;
   padding-top: 10px;
}

.mail-sidebar.collapsed {
   width: 60px;
}


.mail-sidebar-content {
   display: flex;
   flex-direction: column;
   transition: opacity 0.2s ease-in-out;
}


.mail-sidebar.collapsed .mail-folder-list button span {
   display: none;
}

.mail-sidebar.collapsed .unread-count {
   display: none;
}

.mail-sidebar.collapsed .compose-btn {
   width: 48px;
   padding: 10px;
}


.mail-sidebar.collapsed .compose-btn span {
   display: none;
}


.mail-folder-list button:hover {
   background-color: rgba(0, 0, 0, 0.04);
}

.mail-sidebar.collapsed .mail-folder-list button {
   width: 40px;
   border-radius: 50%;
   padding: 0px 12px;
    margin-left: 10px;
}

.mail-sidebar.collapsed .gmail-logo {
   display: none;
}

