 /* mail index  */

 .mail-index {
    display: flex;
    
    background-color: #f8fafd;
 }

 .mail-sidebar {
   width: 250px; /* Set sidebar width */
   display: flex;
   flex-direction: column;
}

/* Mail Content (Mail List) */
.mail-content {
   flex-grow: 1; /* Take remaining space */
   display: flex;
   flex-direction: column;
   padding: 10px;
   min-width: 0;
   flex-shrink: 1;
}
