.mail-preview {
    display: flex;
    align-items: center;
    padding: 4px;
    font-size: 14px;
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
    position: relative;
}

.mail-preview h3 {
    font-weight: normal;
    color: #202124;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto", serif;
    margin-right: 120px;
    flex-basis: 168px;
    flex-shrink: 0;
}

.mail-preview a {
    display: flex;
}

.mail-preview p {
    color: #202124;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto", serif;
    flex-grow: 1;
}

.mail-preview.unread {
    font-weight: bold;
    background: #fff;
}

.mail-preview.unread h3 {
    font-weight: bold;
}

.mail-preview:hover i:not(.fas) {
    color: black;
}

.mail-preview.read {
    font-weight: normal;
    background: #f2f6fc;
}

.mail-preview i {
    color: rgb(182, 182, 182);
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
}

.mail-preview input[type="checkbox" i] {
    cursor: pointer;
}

.mail-preview .fas {
    color: #f9b200;
}

.mail-preview.selected {
    background-color: #c2dbff ;
}
 
.mail-preview:hover {
    position: relative;
    box-shadow: inset 1px 0 0 rgb(218, 220, 224),
    inset -1px 0 0 rgb(218, 220, 224),
     0 1px 2px 0 rgba(60, 64, 67, .3),
     0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2;
}

.mail-preview .mail-link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    flex-shrink: 1;
    min-width: 400px;
    text-overflow: ellipsis;

}

.mail-preview .mail-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-grow: 1;
    min-width: 100px;
}

.mail-preview .mail-text {
    display: flex;
    flex-grow: 1;
    gap: 5px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-preview .mail-body {
    color: #757575;
}

.mail-preview.unread .mail-body {
    font-weight: normal;
}

.mail-preview .mail-date {
    font-family: "Roboto", serif;
    font-size: 0.9em;
    white-space: nowrap;
    position: absolute;
    min-width: 60px;
    text-align: right;
    flex-shrink: 0;
    right: 10px;
}

.mail-preview.read .mail-date {
    color: grey;
}

.mail-preview .mail-actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 80px; 
    flex-shrink: 0;
    position: relative;
}

.mail-preview:hover .mail-date {
    opacity: 0; 
}

.mail-preview .mail-actions {
    display: flex;
    opacity: 0;
    position: absolute;
}

.mail-preview:hover .mail-actions {
    opacity: 1; 
}

.mail-preview .mail-actions i {
    color: #5f6368;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.2s ease-in-out;
    /* padding: 8px; */
}

.mail-preview .mail-actions i:hover {
    border-radius: 50%;
    background: rgb(224, 224, 224);
}
