.mail-preview {
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 14px;
}

.mail-preview h3 {
    flex-grow: 1;
    font-weight: normal;
    color: #202124;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto", serif;
}

.mail-preview p {
    flex-grow: 2;
    color: #202124;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto", serif;
}

.mail-preview.unread {
    font-weight: bold;
    background: #fff;
}

.mail-preview.unread h3 {
    font-weight: bold;
    background: #fff;
}

.mail-preview.read {
    font-weight: normal;
    background: #f2f6fc;
}

.mail-preview:hover {
   box-shadow: rgba(60, 64, 67, 0.25) 0px -1px 0px 0px inset;
}