.mail-filter {
    position: relative;
     max-width: 720px;
     min-width: 300px;
     border-radius: 24px; 
}


.mail-filter  .input-icon{
    display: flex;

}
.mail-filter  .input-field {
    flex-grow: 1;
    height: 48px;
    margin-bottom: 10px;
    border-radius: 24px;
    padding-left:40px;
    border: none;
    background-color:#e9eef6 ;
    font-size: 18px;
    
}

.input-icon .fa-magnifying-glass {
    position: absolute;
    padding: 17px;
}

.input-icon .filter-icon {
    position: absolute;
    color: #444746;
    padding: 17px;
    right: 2px;
    
}

.input-icon .filter-icon:hover {
    background-color: rgb(223, 223, 223);
    border-radius: 50%;
    transition: background-color .8s;
}

 .mail-filter input:focus{
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
}

.sort-container {
    
    border-bottom: 1px solid #ddd;
}

.mail-filter-container {
    background-color: white;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

.mail-filter-container select {
    padding: 4px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.filter-icon {
    cursor: pointer;
    color: #5f6368;
}

.advanced-filter {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    padding: 24px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 3;
}

.advanced-filter div:not(:last-child) {
    display: flex;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

.advanced-filter div:last-child {
    display: flex;
    line-height: 20px;
    padding: 0;
    width: 100%;
}

.advanced-filter label {
    font-family: 'Roboto', serif;
    color: rgb(95, 99, 104)
}
.advanced-filter .span-label {
    padding: 0;
    min-width: 88px;
    margin-right: 32px;
    
}

.advanced-filter .span-input {
    flex: 1 1 auto;
    height: 20px;
    margin: 0 0 0 auto;
    padding: 0;
    width: auto;

}

.advanced-filter input {
    border: none;
    padding: 0px;
    width: 100%;
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, .12);;
}

.advanced-filter input:focus {
 box-shadow: inset 0 -1px 0 0 #4285f4;
}

.advanced-filter button {
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-weight: 600;
    height: 36px;
    min-width: 80px;
    outline: none;
    padding: 0 16px;
    background-color: rgb(26, 115, 232);
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;

}

.advanced-filter .search-button {
    display: flex;
    justify-content: end;
    align-items: end;
}

.advanced-filter button:hover {
    box-shadow: 0 1px 2px 0 rgba(26, 115, 232, .45), 0 1px 3px 1px rgba(26, 115, 232, .3);
    background-color: #297be6;
    outline: 1px solid transparent;
    border: none;
}
