
@import './basics/vars.css';
@import './basics/base.css';
@import './basics/helpers.css';
@import './basics/layout.css';

@import './cmps/home.css';
@import './cmps/UserMsg.css';
@import './cmps/AppHeader.css';


@import './apps/note/NoteIndex.css';

/* Mail-App */
@import './apps/mail/MailIndex.css';
@import './apps/mail/MailList.css';
@import './apps/mail/MailPreview.css'