.note-app {
    display: flex;
    min-height: calc(100vh - 64px);
    margin-top: 64px;
}



@media (max-width: 768px) {
    .note-app-content {
        margin-left: 72px !important;
        margin-right: 0 ;
        width: calc(100% - 72px) ;
    }
    
    .note-sidebar {
        width: 72px ;
    }
}

@media (max-width: 480px) {
    .note-app-content {
        margin-left: 0 ;
        margin-right: 0 ;
        width: 100% ;
    }
}